{% extends "base.html" %}
{% load static %}

{% block description %}You can create an account on myshop store.{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block keywords %}signup, myshop{% endblock %}
{% block css %}{% static "products/signup.css" %}{% endblock %}
{% block title %}Signup{% endblock %}

{% block body %}
    
    {% include "includes/nav.html" %}

    <form>
        <label for="name">Full Name:</label><br>
        <input class="field" type="text" id="name" required><br>

        <label for="email">Email:</label><br>
        <input class="field" type="email" id="email" required><br>

        <label for="pass">Password:</label><br>
        <input class="field" type="password" id="pass" required><br>
        
        <input type="checkbox" id="terms"><label for="terms">I agree to the <a href="">terms of use</a>.</label><br>

        <br><br>
        <button type="submit">Signup</button>
    </form>
{% endblock %}